*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-21-jupyter-notebook.md
_posts/2022-08-26-Docx-Post:-Lab-#1-Measurements-and-Graphical-Analysis.md
_posts/2022-08-28-bash-kernel.md
_posts/2022-08-28-entering-wsl-script.md
_posts/2022-08-28-python-quiz.md
_posts/2022-08-28-tool-check.md
_posts/2022-08-30-Lists,-Dictionaries,-Iteration.md
Gemfile.lock
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-09-AP-error_testing.md
_posts/2022-10-09-PBL-python_rapidapi.md
_posts/2022-10-09-AP-error_testing.md
_posts/2022-10-09-PBL-python_rapidapi.md
_posts/2022-11-28-Unit_3.8_3.10.md
_posts/2022-12-01-algorithms-hacks.md
_posts/2022-12-05-3.8-10.md
_posts/2022-12-06-3.9-11.md
_posts/2022-12-07-3.12_3.13.md
_posts/2022-12-07-3.14_3.15.md
_posts/2022-12-13-3.16.md
_posts/2022-12-14-3.17-18.md
_posts/2023-01-10-PBL-model.md
_posts/2023-01-12-PBL-view.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2023-03-09-AP-unit2-3.md
_posts/2022-12-07-3.12_3.13.md
_posts/2022-12-07-3.14_3.15.md
_posts/2022-12-13-3.16.md
_posts/2022-12-14-3.17-18.md
_posts/2023-01-10-PBL-model.md
_posts/2023-01-12-PBL-view.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2023-03-09-AP-unit2-3.md
_posts/2023-03-13-AP-unit2-4a.md