$path-light: "minima/lightmode";
$path-dark: "minima/darkmode";

:export {
  styleLight: $path-light;
  styleDark: $path-dark;
}

/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import url(minima/#{$path-light});   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
