a:post-list > li > div {
  box-shadow: none !important;
  background-color: rgb(254, 253, 255);
  border: rgb(212, 159, 255) !important;
}

body {
  padding: 25px;
  background-color: #f2ecff;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: #2a213f;
  color: white;
}